{
    "parser": "babel-eslint",
    "extends": ["airbnb-base"],
    "plugins": ["prettier"],
    "env": {
    "browser": true
    },
    "globals": {
        "document": true,
        "window": true,
        "fetch": true,
        "localStorage" : true,
        "navigator": true
    },
    "rules": {
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "func-names": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": ["error", { "allowShortCircuit": true }],
        "no-console": 0
    }
}