@import "~normalize.css";
@import './variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $bgc;
    color: $fontColor;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        font-size: 4.4rem;
        text-align: center;
        letter-spacing: 2px;
    }

    &__image {
        height: 200px;
        width: 100%;
        object-fit: contain;
    }
}